<div class = "center hero-unit">
  <h3>Most Recent Stories</h1>  
      <ul class="microposts">
        <%= render @stories.paginate(page: params[:page]) %>
      </ul>
      <%= will_paginate @stories.paginate(page: params[:page]) %>
