<div class = "center hero-unit">
  <h3>Most Recent Stories</h1>  
      <table border= 1>
        <tr>
        <%= render @stories.paginate(page: params[:page]) %>
        </tr> 
        </table>
      
