<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "SB", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
	  <li><%= link_to "SIGN UP", signup_path %></li>
          <li><%= link_to "SIGN IN", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
